@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.routing_container {
  width: 15%;
  height: 100%;
  background-color: #151515;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.routing_container .tools,
.routing_container .desks_routing {
  width: 100%;
  min-height: 15%;
  background-color: transparent;
}
.routing_container .tools h4,
.routing_container .desks_routing h4 {
  font-family: "Oswald", sans-serif;
  color: #333;
  font-size: 1em;
}
.routing_container .tools .tools_list,
.routing_container .tools .desks_routing_list,
.routing_container .desks_routing .tools_list,
.routing_container .desks_routing .desks_routing_list {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.routing_container .tools .tools_list .tools_list_item,
.routing_container .tools .desks_routing_list .tools_list_item,
.routing_container .desks_routing .tools_list .tools_list_item,
.routing_container .desks_routing .desks_routing_list .tools_list_item {
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-family: "Google Sans", sans-serif;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
}
.routing_container .tools .tools_list .tools_list_item:nth-child(2),
.routing_container .tools .desks_routing_list .tools_list_item:nth-child(2),
.routing_container .desks_routing .tools_list .tools_list_item:nth-child(2),
.routing_container .desks_routing .desks_routing_list .tools_list_item:nth-child(2) {
  background-color: #222;
}
.routing_container .tools .tools_list .tools_list_item:nth-child(2) i,
.routing_container .tools .desks_routing_list .tools_list_item:nth-child(2) i,
.routing_container .desks_routing .tools_list .tools_list_item:nth-child(2) i,
.routing_container .desks_routing .desks_routing_list .tools_list_item:nth-child(2) i {
  color: #0890FE;
}
.routing_container .tools .tools_list .desks_routing_list_item,
.routing_container .tools .desks_routing_list .desks_routing_list_item,
.routing_container .desks_routing .tools_list .desks_routing_list_item,
.routing_container .desks_routing .desks_routing_list .desks_routing_list_item {
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  font-family: "Google Sans", sans-serif;
  font-size: 0.9em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
}
.routing_container .tools .tools_list .desks_routing_list_item:nth-child(1) .folder_icon,
.routing_container .tools .desks_routing_list .desks_routing_list_item:nth-child(1) .folder_icon,
.routing_container .desks_routing .tools_list .desks_routing_list_item:nth-child(1) .folder_icon,
.routing_container .desks_routing .desks_routing_list .desks_routing_list_item:nth-child(1) .folder_icon {
  color: #01DF95;
}
.routing_container .tools .tools_list .desks_routing_list_item:nth-child(2),
.routing_container .tools .desks_routing_list .desks_routing_list_item:nth-child(2),
.routing_container .desks_routing .tools_list .desks_routing_list_item:nth-child(2),
.routing_container .desks_routing .desks_routing_list .desks_routing_list_item:nth-child(2) {
  background-color: #222;
}
.routing_container .tools .tools_list .desks_routing_list_item:nth-child(2) .folder_icon,
.routing_container .tools .desks_routing_list .desks_routing_list_item:nth-child(2) .folder_icon,
.routing_container .desks_routing .tools_list .desks_routing_list_item:nth-child(2) .folder_icon,
.routing_container .desks_routing .desks_routing_list .desks_routing_list_item:nth-child(2) .folder_icon {
  color: #F22DAB;
}
.routing_container .tools .tools_list .desks_routing_list_item:nth-child(3) .folder_icon,
.routing_container .tools .desks_routing_list .desks_routing_list_item:nth-child(3) .folder_icon,
.routing_container .desks_routing .tools_list .desks_routing_list_item:nth-child(3) .folder_icon,
.routing_container .desks_routing .desks_routing_list .desks_routing_list_item:nth-child(3) .folder_icon {
  color: #F2323E;
}

.desk {
  width: 85%;
  height: 100%;
  background-color: #111;
  border-left: 2px solid #333;
}

/*# sourceMappingURL=main.css.map */
