@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// font-family: "Oswald", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
// font-family: "Cascadia Code", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
// font-family: "Google Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.routing {
    width: 15%;
    height: 100%;
    background-color: #111;
    padding: 0.5rem;
    box-sizing: border-box;

    .routing_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 16px;
        background-color: #191919;
        box-shadow: 0 0 10px #000;
    }

    .tools,
    .desks_routing {
        width: 100%;
        min-height: 15%;
        background-color: transparent;

        h4 {
            font-family: "Oswald", sans-serif;
            color: #fff;
            font-size: 1em;
            text-shadow: 0 0 10px #ffffffc9;
        }

        .tools_list,
        .desks_routing_list {
            margin-top: 0.5rem;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            .tools_list_item {
                width: 100%;
                color: #fff;
                box-sizing: border-box;
                padding: 0.5rem 2rem;
                border-radius: 10px;
                font-family: "Google Sans", sans-serif;
                font-size: 0.9em;
                display: flex;
                align-items: center;
                gap: 0.1rem;
                cursor: pointer;

                &:has(.tools_list_item__active) {
                    background-color: #222;
                    box-shadow: 0 0 10px #111;

                    i {
                        color: #0890FE;
                    }
                }
            }

            // .tools_list_item__active {
            //     background-color: #222;
            //     box-shadow: 0 0 10px #111;
            // }

            .add_desk {
                background-color: #01DF95;
                transition: all .2s ease;
                outline: 2px dashed transparent;
                box-shadow: 0 0 10px #01DF95;

                &:hover {
                    outline: 2px dashed #999;
                }
            }

            .desks_routing_list_item {
                width: 100%;
                color: #fff;
                box-sizing: border-box;
                padding: 0.5rem 2rem;
                font-family: "Google Sans", sans-serif;
                font-size: 0.9em;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 0.1rem;
                cursor: pointer;

                &:nth-child(2) {
                    .folder_icon {
                        color: #01DF95;
                    }
                }

                &:nth-child(3) {
                    background-color: #222;
                    box-shadow: 0 0 10px #111;

                    .folder_icon {
                        color: #F22DAB;
                    }
                }

                &:nth-child(4) {
                    .folder_icon {
                        color: #F2323E;
                    }
                }

                // #F0C403 #F3632E #F2323E #01DF95 #C42BF4
            }
        }
    }
}

.desk {
    width: 85%;
    height: 100%;
    background-color: #111;
    border-left: 2px solid #333;
    padding: 0.5rem;
    box-sizing: border-box;

    .desk_container {
        width: 100%;
        height: 100%;
        background-color: #191919;
        border-radius: 16px;
        box-shadow: 0 0 10px #000;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        .desk_header {
            width: 100%;
            height: 3.5rem;
            background-color: #222;
            box-shadow: 0 0 10px #111;
            border-radius: 10px;

            .desk_header_container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 1rem;

                .desk_header_colums_creator_btn {
                    width: fit-content;
                    padding: 0.5rem 2rem;
                    background-color: #01DF95;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: #fff;
                    display: inline-flex;
                    font-family: "Google Sans", sans-serif;
                    font-size: 0.9em;
                    transition: all .2s ease;
                    outline: 2px dashed transparent;
                    box-shadow: 0 0 10px #01DF95;

                    &:hover {
                        outline: 2px dashed #999;
                    }
                }
            }
        }

        .desk_columns_list_container {
            width: 100%;
            height: 100%;
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            scrollbar-width: none;

            .desk_columns_list {
                width: fit-content;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: start;
                gap: 1.5rem;

                .desk_columns_list_item {
                    width: 20rem;
                    height: 100%;
                    border-radius: 10px;
                    padding: 1rem;
                    box-sizing: border-box;


                    .desk_columns_list_item_container {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;

                        .desk_columns_list_item_header {
                            width: 100%;
                            height: fit-content;
                            display: flex;
                            flex-direction: column;


                            h2 {
                                font-family: "Google Sans", sans-serif;
                                letter-spacing: -1px;
                                color: #fff;
                                font-size: 1.5em;
                                width: 100%;
                            }

                            .tegs {
                                display: flex;
                                width: 100%;
                                height: 100%;

                                .tegs_list {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    gap: 1rem;

                                    .teg {
                                        width: fit-content;
                                        height: fit-content;
                                        padding: 0.2rem 0.5rem;
                                        color: #fff;
                                        border-radius: 10px;
                                        font-size: 0.9em;

                                        &:nth-child(1) {
                                            background-color: #0890FE;
                                            box-shadow: 0 0 10px #0890FE;
                                        }

                                        &:nth-child(2) {
                                            background-color: #F22DAB;
                                            box-shadow: 0 0 10px #F22DAB;
                                        }

                                        &:nth-child(3) {
                                            color: #000;
                                            background-color: #F1CA51;
                                            box-shadow: 0 0 10px #F1CA51;
                                        }
                                    }
                                }
                            }
                        }

                        .desk_column_tasks {
                            width: 100%;
                            height: 100%;

                            .desk_column_tasks_list {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;

                                .task {
                                    width: 100%;
                                    height: 10rem;
                                    border-radius: 10px;

                                    background-color: #222;
                                    box-shadow: 0 0 10px #111;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}