@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// font-family: "Oswald", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
// font-family: "Cascadia Code", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
// font-family: "Google Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.routing {
    width: 15%;
    height: 100%;
    background-color: #111;
    padding: 0.5rem;
    box-sizing: border-box;

    .routing_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 16px;
        background-color: #191919;
        box-shadow: 0 0 10px #000;
    }

    .tools,
    .desks_routing {
        width: 100%;
        min-height: 15%;
        background-color: transparent;

        h4 {
            font-family: "Oswald", sans-serif;
            color: #fff;
            font-size: 1em;
            text-shadow: 0 0 10px #ffffffc9;
        }

        .tools_list,
        .desks_routing_list {
            margin-top: 0.5rem;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            .tools_list_item {
                width: 100%;
                color: #fff;
                box-sizing: border-box;
                padding: 0.5rem 2rem;
                border-radius: 10px;
                font-family: "Google Sans", sans-serif;
                font-size: 0.9em;
                display: flex;
                align-items: center;
                gap: 0.1rem;
                cursor: pointer;

                &:nth-child(2) {
                    background-color: #222;
                    box-shadow: 0 0 10px #111;

                    i {
                        color: #0890FE;
                    }
                }
            }

            .add_desk {
                background-color: #01DF95;
                transition: all .2s ease;
                outline: 2px dashed transparent;
                box-shadow: 0 0 10px #01DF95;

                &:hover {
                    outline: 2px dashed #999;
                }
            }

            .desks_routing_list_item {
                width: 100%;
                color: #fff;
                box-sizing: border-box;
                padding: 0.5rem 2rem;
                font-family: "Google Sans", sans-serif;
                font-size: 0.9em;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 0.1rem;
                cursor: pointer;

                &:nth-child(2) {
                    .folder_icon {
                        color: #01DF95;
                    }
                }

                &:nth-child(3) {
                    background-color: #222;
                    box-shadow: 0 0 10px #111;

                    .folder_icon {
                        color: #F22DAB;
                    }
                }

                &:nth-child(4) {
                    .folder_icon {
                        color: #F2323E;
                    }
                }

                // #F0C403 #F3632E #F2323E #01DF95 #C42BF4
            }
        }
    }
}

.desk {
    width: 85%;
    height: 100%;
    background-color: #111;
    border-left: 2px solid #333;
    padding: 0.5rem;
    box-sizing: border-box;

    .desk_container {
        width: 100%;
        height: 100%;
        background-color: #191919;
        border-radius: 16px;
        box-shadow: 0 0 10px #000;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: calc(1rem - 10px);

        .desk_header {
            width: 100%;
            height: 3.5rem;
            background-color: #222;
            box-shadow: 0 0 10px #111;
            border-radius: 10px;

            .desk_header_container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 1rem;

                .desk_header_colums_creator_btn {
                    width: fit-content;
                    padding: 0.5rem 2rem;
                    background-color: #01DF95;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: #fff;
                    display: inline-flex;
                    font-family: "Google Sans", sans-serif;
                    font-size: 0.9em;
                    transition: all .2s ease;
                    outline: 2px dashed transparent;
                    box-shadow: 0 0 10px #01DF95;

                    &:hover {
                        outline: 2px dashed #999;
                    }
                }
            }
        }

        .desk_columns_list_container {
            width: 100%;
            height: 100%;
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            scrollbar-width: none;

            .desk_columns_list {
                position: absolute;
                top: 0;
                left: 0;
                width: fit-content;
                height: 100%;
                display: flex;
                align-items: start;
                gap: 1rem;
                padding: 10px;
                box-sizing: border-box;

                .desk_columns_list_item {
                    width: 20rem;
                    height: 100%;
                    background-color: #222;
                    box-shadow: 0 0 10px #111;
                    border-radius: 10px;
                    padding: 1rem;
                    box-sizing: border-box;

                    .desk_columns_list_item_header {
                        width: 100%;
                        height: fit-content;

                        h1 {
                            color: #353535;
                            text-transform: uppercase;
                            font-family: "Oswald", sans-serif;
                            font-size: 2em;
                            border-bottom: 2px dashed #666;
                        }
                    }

                    .desk_columns_list_item_tegs {
                        width: 100%;
                        height: fit-content;
                        max-height: 6rem;
                        display: block;

                        .tegs_list {
                            width: 100%;
                            height: 100%;
                            border-bottom: 2px dashed #666;
                            display: flex;
                            // justify-content: space-between;
                            flex-wrap: wrap;
                            gap: 0.5rem;
                            padding: 0.5rem 0;

                            .tegs_list_item {
                                width: fit-content;
                                height: fit-content;
                                padding: 0.2rem 0.5rem;
                                background-color: #088ffe;
                                box-shadow: 0 0 10px #088ffe;
                                border-radius: 10px;

                                &:nth-child(1) {
                                    background-color: #088ffe;
                                    box-shadow: 0 0 10px #088ffe;
                                    border-radius: 10px;
                                }

                                &:nth-child(2) {
                                    background-color: #F22DAB;
                                    box-shadow: 0 0 10px #F22DAB;
                                    border-radius: 10px;
                                }

                                &:nth-child(3) {
                                    background-color: #F2323E;
                                    box-shadow: 0 0 10px #F2323E;
                                    border-radius: 10px;
                                }

                                p {
                                    color: #fff;
                                    font-family: "Google Sans", sans-serif;
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}